#cbeer-header {
    position: relative;
    background: transparent url(../images/header-bg.png) repeat-x center 82px;
}

#cbeer-header-inner {
    width: 960px;
    height: 170px;
    position: relative;
    margin: 0 auto;
}

#cbeer-header h1, #cbeer-header h1 a {
    width: 200px;
    height: 129px;
    display: block;
}

#cbeer-header .cbeer-logo {
    top: 8px;
    position: relative;
    margin: 0 auto;
    display: block;
}

#cbeer-menu {
    width: 100%;
    height: 42px;
    position: absolute;
    top: 82px;
    left: 0;
}

.cbeer-menu-item,
.cbeer-menu-item-right,
.cbeer-menu-item a {
    display: inline-block;
    position: relative;
    height: 100%;
}

.cbeer-menu-item a {
    text-decoration: none;
    margin-top: -9px;
    padding-top: 19px;
    font-family: 'LeagueGothicRegular', Arial, sans-serif;
    color: #331d0f;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin-right: 17px;
}

.cbeer-menu-item-right .menu-text {
    margin-top: 4px;
    font-family: 'LeagueGothicRegular', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    margin-right: 17px;
}

.cbeer-menu-item-right {
    color: #331d0f;
}

.cbeer-menu-item-right .menu-icon {
    font-size: 20px;
    padding-top: 11px;
}

.cbeer-menu-item-right:hover,
.cbeer-menu-item a:hover {
    color: #AD1F32;
    cursor: pointer;
}

.cbeer-menu-item-right.selected,
.cbeer-menu-item.selected a {
    color: #AD1F32;
    cursor: default;
}

.cbeer-menu-left,
.cbeer-menu-right {
    height: 100%;
    width: 50%;
    float: left;
}

.cbeer-menu-left {
    padding-left: 50px;
}

.cbeer-menu-right {
    position: absolute;
    left: 50%;
    padding-left: 195px;
}

.footer {
    background-color: #331d0f;
    padding:0;
    max-height: 50px;
}

.footer h5 {
    font-size: 12px;
}

div.cbeer-footer-text {
    color: white !important;
}

.quick-link-header {
    background-color: #6b4a34;
}

#quick-links-inner {
    width: 700px;
    height: 100%;
    margin: 0 auto;
    padding: 0 0 0 350px;
    background: transparent url(../images/quick-links-ul-bg.png) no-repeat left 1px;
}

#quick-links-inner #twitter {
    background: transparent url(../images/twitter-btn.png) no-repeat left top;
}

#quick-links-inner a {
    font-family: 'LeagueGothicRegular', Arial, sans-serif;
    color: #9d938c;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    margin: 5px 0px 0 0;
    height: 24px;
    padding: 3px 0 0 30px;
}

#quick-links-inner :first-child {
    margin-right: 50px;
}

#quick-links-inner a:hover#twitter,
#quick-links-inner a:hover#facebook {
    background-position: left bottom;
    color: #fff;
}

#quick-links-inner #facebook {
    background: transparent url(../images/facebook-btn.png) no-repeat left top;
}

#quick-links {
    width: 100%;
    height: 37px;
    clear: both;
    background: transparent url(../images/quick-links-bg.png) repeat-x;
    border-bottom: 1px #6b4a34 solid;
}