@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../font/League_Gothic-webfont.eot');
    src: url('../font/League_Gothic-webfont.ttf'),
         url('../font/League_Gothic-webfont.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../font/Chunkfive-webfont.woff');
    font-style: normal;
}

.btn-primary {
    background: #6b4a34;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:focus {
    color: #fff;
    background-color: rgba(123, 87, 55, 0.93);
    border-color: #122b40;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 12px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-wall {
    margin-top: 20px;
    padding: 20px 0 20px 0;
    background-color: #f7f7f7;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img {
    margin: 0 auto 10px;
    opacity: 0.85;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.wrapper {
    width: 100%;
    height: auto;
    padding-top: 195px;
    background: transparent url(../images/bg_tile.png) repeat-y top center;
}

html {
    background: transparent url(../images/body-bg.png) repeat scroll center center;
    height: 100%;
}

body {
    position: absolute;
    bottom: 37px;
    top: 37px;
    top: 0px;
    width: 100%;
    overflow-y: auto;
    background: transparent url(../images/bg_tile.png) repeat-y top center;
}

body .navbar {
    min-height: 30px;
    height: 37px;
}

.logout-panel {
    position: fixed;
    right: 20px;
    top: 60px;
}

.logout-panel a {
    color: #331d0f;
    font-family: LeagueGothicRegular;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.logout-panel a:hover {
    color: #AD1F32;
}

.cbeer-body {
    position: relative;
    margin: 0 auto;
}

.cbeer-main-container {
    max-width: 960px;
    border-top: dashed 1px black;
    position: relative;
    margin: 0 auto;
}

.cbeer-sidebar {
    min-height: 160px;
    background: transparent url(../images/sidebar-dashes-bg.png) no-repeat right top;
}

.form-horizontal {
    float: none;
    margin: auto;
}

.cbeer-body input[type=checkbox] {
    position: relative;
    margin: 0;
}

.cbeer-body h2 {
    margin: 0 auto 20px auto;
    font-family: ChunkFiveRegular;
}

.cbeer-body label {
    font-family: ChunkFiveRegular;
    font-weight: normal;
}

.cbeer-body .menu-icon {
    font-size: 20px;
    padding-right: 5px;
}

.cbeer-body button {
    font-family: LeagueGothicRegular;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
}

input[disabled], select[disabled] {
    cursor: default !important;
}

select[multiple] {
    overflow-y: auto;
    max-height: 58px;
}

.cbeer-message {
    font-family: ChunkFiveRegular;
    font-size: 16px;
    font-weight: normal;
    float: none;
    margin:auto;
}