<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main-layout">
<body>

<section id="content" th:fragment="content">
    <form id="form-rest" class="form-horizontal col-md-6">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <h2 th:text="${sectionTitle}"></h2>
            </div>
        </div>

        <input id="cbeer_id" type="hidden" name="id" th:value="${id}"/>

        <div class="form-group form-group-dropdownBox">
            <label th:for="${forControlId}" class="col-md-3 control-label">Beer</label>

            <div class="col-md-5">
                <select th:unless="${mode == 'edit'}" id="cbeer_name" name="name" class="form-control">
                    <option th:each="beer : ${beers}" th:value="${beer.id}" th:text="${beer.name}" th:selected="${beer.Id == id}"></option>
                </select>
                <input th:if="${mode == 'edit'}" id="cbeer_name_new" type="text" class="form-control " name="name" th:value="${name}" required=""/>
            </div>
        </div>
        <div class="form-group form-group-dropdownBox">
            <label for="cbeer_category" class="col-md-3 control-label">Category</label>

            <div class="col-md-9">
                <select id="cbeer_category" name="categoryId" class="form-control" th:disabled="${disabled == true}">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${category.id == currentCategoryId}"></option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-text">
            <label for="cbeer_manufacture" class="col-md-3 control-label">Manufacture</label>

            <div class="col-md-9">
                <input id="cbeer_manufacture" type="text" class="form-control " name="manufacture" th:value="${manufacture}" th:disabled="${disabled == true}"/>
            </div>
        </div>
        <div class="form-group form-group-text">
            <label for="cbeer_country" class="col-md-3 control-label">Country</label>
            <div class="col-md-6">
                <input id="cbeer_country" type="text" class="form-control" name="country" th:value="${country}" th:disabled="${disabled == true}"/>
            </div>
        </div>
        <div class="form-group form-group-text">
            <label for="cbeer_price" class="col-md-3 control-label">Price</label>
            <div class="col-md-4">
                <input id="cbeer_price" type="number" class="form-control" name="price" th:value="${price}" th:disabled="${disabled == true}"/>
            </div>
        </div>
        <div class="form-group form-group-text">
            <label for="cbeer_description" class="col-md-3 control-label">Description</label>
            <div class="col-md-9">
                <input id="cbeer_description" type="text" class="form-control" name="description" th:value="${description}" th:disabled="${disabled == true}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="cbeer_archive" class="col-md-3 control-label">Archive</label>
            <div class="col-md-9">
                <div class="checkbox">
                    <input id="cbeer_archive" type="checkbox" name="archive" th:checked="${archive}" th:disabled="${disabled == true}"/>
                </div>
            </div>
        </div>
        <div th:if="${cancel == true}" class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button id="cancel-button" type="button" class="btn btn-default"><i class="fa fa-times menu-icon"></i>Cancel</button>
            </div>
        </div>
    </form>
</section>

</body>
</html>
