<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main-layout">
<body>

<section id="content" th:fragment="content">
    <form id="form-rest" class="form-horizontal col-md-6">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <h2 th:text="${sectionTitle}"></h2>
            </div>
        </div>

        <input id="cbeer_category_id" type="hidden" name="id" th:value="${id}"/>

        <div class="form-group form-group-dropdownBox">
            <label th:for="${forControlId}" class="col-md-3 control-label">Category</label>

            <div class="col-md-5">
                <select th:unless="${mode == 'edit'}" id="cbeer_category" name="name" class="form-control">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${category.Id == currentId}"></option>
                </select>
                <input th:if="${mode == 'edit'}" id="cbeer_category_new" type="text" class="form-control " name="name" th:value="${name}" required=""/>
            </div>
        </div>
        <div class="form-group form-group-text">
            <label for="cbeer_category_description" class="col-md-3 control-label">Description</label>

            <div class="col-md-9">
                <input id="cbeer_category_description" type="text" class="form-control " name="description" th:value="${description}" th:disabled="${disabled == true}"/>
            </div>
        </div>
        <div th:if="${cancel == true}" class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button id="cancel-button" type="button" class="btn btn-default"><i class="fa fa-times menu-icon"></i>Cancel</button>
            </div>
        </div>
    </form>
</section>

</body>
</html>
