<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<section id="content" th:fragment="content">
    <div class="row" style="text-align: center; margin-top: 150px">
        <div class="col-md-6 alert alert-danger cbeer-message">
            <span th:text="${errorMessage}"></span>
        </div>
    </div>
</section>
</body>
</html>
