<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{page.title}"></title>
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/4.4.0/css/font-awesome.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/cbeer-commons.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/cbeer-header-footer.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/webjars/jquery/2.1.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/json2/20140204/json2.min.js}"></script>
    <script th:src="@{/webjars/underscorejs/1.8.3/underscore-min.js}"></script>
    <script th:src="@{/webjars/underscore.string/2.3.3/underscore.string.min.js}"></script>
    <script th:src="@{/webjars/backbonejs/1.2.1/backbone-min.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var LANGDING_PAGE = /*[[${defaultPage}]]*/ 'user';
        /*]]>*/
    </script>

    <!--Requirejs main entry-->
    <script data-main="js/main" th:src="@{/webjars/requirejs/2.1.20/require.min.js}" type="text/javascript"></script>
</head>
<body>
<!--HEADER-->
<div class="wrapper">
    <div class="navbar navbar-default navbar-fixed-top quick-link-header">
        <div id="quick-links">
            <div id="quick-links-inner">
                <a href="http://twitter.com/#!/craftbeermarket/" target="_blank" id="twitter" th:text="#{header.follow.twitter}"></a>
                <a href="http://www.facebook.com/Craftbeermarket" target="_blank" id="facebook" th:text="#{header.follow.facebook}"></a>
            </div>
        </div>
        <div id="cbeer-header">
            <div id="cbeer-header-inner">
                <img class="cbeer-logo" src="/images/logo.png"/>
                <!--MENU-->
                <div th:if="${hasAuthenticated == true}" id="cbeer-menu">
                    <div th:if="${role == 'ROLE_ADMIN'}" class="cbeer-menu-left">
                        <div class="cbeer-menu-item"><a href="/user" th:text="#{menu.item.user}"/></div>
                        <div class="cbeer-menu-item"><a href="/category" th:text="#{menu.item.category}"/></div>
                        <div class="cbeer-menu-item"><a href="/beer" th:text="#{menu.item.beer}"/></div>
                    </div>
                    <div class="cbeer-menu-right" th:if="${role == 'ROLE_ADMIN'}">
                        <div id="menu-add" class="cbeer-menu-item-right">
                            <i class="fa fa-plus-circle menu-icon"></i>
                            <strong class="menu-text">New</strong>
                        </div>
                        <div  id="menu-edit" class="cbeer-menu-item-right">
                            <i class="fa fa-pencil-square menu-icon"></i>
                            <strong class="menu-text">Edit</strong>
                        </div>
                        <div id="menu-delete" class="cbeer-menu-item-right">
                            <i class="fa fa-minus-circle menu-icon"></i>
                            <strong class="menu-text">Delete</strong>
                        </div>
                        <div id="menu-save" class="cbeer-menu-item-right selected">
                            <i class="fa fa-check-circle menu-icon"></i>
                            <strong class="menu-text">Save</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${hasAuthenticated == true}" class="logout-panel"><a href="/logout" data-bypass="true" th:text="#{signout.link}"></a></div>
    </div>

    <!--MAIN CONTENT-->
    <section id="content" class="cbeer-body container" layout:fragment="content"></section>

    <!--FOOTER-->
    <nav class="navbar navbar-default navbar-fixed-bottom footer">
        <div class="container">
            <div class="col-sm-12 text-center cbeer-footer-text">
                <h5>CRAFT BEER MARKET - RESTAURANT + BAR | 345 10&nbsp;AVE SW - CALGARY, AB | P.403.514.BEER (2337)</h5>
            </div>
        </div>
    </nav>
</div>
</body>
</html>