<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="landing-page">
<body>

<section id="content" layout:fragment="content">
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4">
                    <div class="account-wall">
                        <img class="profile-img"
                             src="../public/images/user2.png"
                             th:src="@{/images/user.png}"
                             alt=""/>

                        <form class="form-signin" method="post" action="/login">
                            <div class="alert alert-danger text-center" role="alert"
                                 th:if="${param.error}"
                                 th:text="#{signin.error}">
                            </div>
                            <input name="username" type="text" class="form-control" placeholder="Username" th:placeholder="#{signin.form.email}" required="true" autofocus="true"/>
                            <input name="password" type="password" class="form-control" placeholder="Password" th:placeholder="#{signin.form.password}" required="true"/>
                            <button class="btn btn-lg btn-primary btn-block login-btn" type="submit" th:text="#{signin.form.button}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
