<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main-layout">
<body>

<section id="content" th:fragment="content">

    <form id="form-rest" class="form-horizontal col-md-6">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <h2 th:text="${sectionTitle}"></h2>
            </div>
        </div>

        <input id="cbeer_id" type="hidden" name="id" th:value="${id}"/>

        <div class="form-group form-group-dropdownBox">
            <label th:for="${forControlId}" class="col-md-3 control-label">Username</label>

            <div class="col-md-5">
                <select th:unless="${mode == 'edit'}" id="cbeer_user" name="username" class="form-control">
                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}" th:selected="${user.Id == currentId}"></option>
                </select>
                <input th:if="${mode == 'edit'}" id="cbeer_user_new" type="text" class="form-control " name="username" th:value="${username}" required=""/>
            </div>
        </div>
        <div class="form-group form-group-text">
            <label for="cbeer_password" class="col-md-3 control-label">Password</label>

            <div class="col-md-5">
                <input id="cbeer_password" type="password" class="form-control " name="password" th:value="${password}" required="" th:disabled="${disabled == true}"/>
            </div>
        </div>
        <div class="form-group form-group-dropdownBox">
            <label for="cbeer-user-role" class="col-md-3 control-label">Role</label>
            <div class="col-md-5">
                <select id="cbeer-user-role" multiple="multiple" name="roleId" class="form-control" th:disabled="${disabled == true}">
                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}" th:selected="${currentRoleIds.contains(role.id)}"></option>
                </select>
            </div>
        </div>
        <div class="form-group form-group-text">
            <label for="cbeer_first_name" class="col-md-3 control-label">First Name</label>

            <div class="col-md-7">
                <input id="cbeer_first_name" type="text" class="form-control" name="firstName" th:value="${firstName}" th:disabled="${disabled == true}"/>
            </div>
        </div>
        <div class="form-group form-group-text">
            <label for="cbeer_last_name" class="col-md-3 control-label">Last Name</label>

            <div class="col-md-7">
                <input id="cbeer_last_name" type="text" class="form-control" name="lastName" th:value="${lastName}" th:disabled="${disabled == true}"/>
            </div>
        </div>
        <div class="form-group form-group-text">
            <label for="cbeer_email" class="col-md-3 control-label">Email</label>

            <div class="col-md-9">
                <input id="cbeer_email" type="text" class="form-control" name="email" th:value="${email}" th:disabled="${disabled == true}"/>
            </div>
        </div>
        <div th:if="${cancel == true}" class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button id="cancel-button" type="button" class="btn btn-default"><i class="fa fa-times menu-icon"></i>Cancel</button>
            </div>
        </div>
    </form>
</section>

</body>
</html>
